# Node modules (do not commit)
node_modules/

# Parcel cache (do not commit)
.parcel-cache/

# Build output folder
dist/

# System files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
